#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #121212;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#navbar form {
  display: flex;
  gap: .5rem;
}

#navbar form button {
  background-color: rgb(0, 179, 255);
  border: 2px solid rgb(0, 179, 255);
  border-radius: 4px;
  padding: .3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .2s;
}

#navbar form button:hover {
  background-color: rgb(145, 222, 255);
  border: 2px solid rgb(145, 222, 255);
}

#navbar input {
  padding: .3rem .9rem;
  border-radius: 2px;
  background-color: rgb(216, 216, 216);
  font-size: 1em;
  border: none;
  outline: none;
  transition: .2s;
}

#navbar input:focus {
  background-color: whitesmoke;
}